<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>日期选择器</title>
		<link rel="stylesheet" href="elements/index.css" />
		<link rel="shortcut icon"  href="img/title.png">
	</head>
	<body>
		<div id="app">
			<template>
				<div class="block">
				    <span class="demonstration">默认</span>
				    <el-date-picker v-model="value1" type="date" placeholder="选择日期" class="one">
				    </el-date-picker>
				</div>
				<div class="block">
				    <span class="demonstration">带快捷选项</span>
				    <el-date-picker v-model="value2" align="right" type="date" placeholder="选择日期" :picker-options="pickerOptions1">
				    </el-date-picker>
				</div>
			</template>
		</div>
		<script type="text/javascript" src="elements/vue.js"></script>
		<script type="text/javascript" src="elements/index.js"></script>
		<script type="text/javascript">
			var Main = new Vue({
				el: "#app",
			    data() {
				    return {
				    	value1: '',
				        value2: '',
				        pickerOptions1: {
					        disabledDate(time) {
					            return time.getTime() < new Date(Main.value1).getTime();
					        }
				        }
				    };
			    },
		  });
		</script>
	</body>
</html>
